@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Patua+One|Quicksand:500&display=swap);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  position: relative;
  font-family: sans-serif;
  color: #fff;
  background: radial-gradient(#444, #222);
}

h1 {
  text-align: center;
  font-family: "Patua One", sans-serif, sans-serif;
  font-weight: 400;
  padding-top: 50px;
  font-size: 2.7rem;
}

.content-wrapper {
  position: absolute;
  top: calc(50% + 43px);
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

/* QUOTE */
.quote-wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  margin-bottom: 2rem;
}

p {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.7rem;
  width: 100%;
  text-align: center;
}

p::before {
  content: '“';
  font-size: 1.8rem;
}

p::after {
  content: '”';
  font-size: 1.8rem;
}

/* BUTTON */
.btn-wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  margin: 3rem 0;
}

.btn-wrapper button {
  all: unset;
  padding: 9px 30px;
  background: #197278;
  color: #fff;
  font-size: 1.1rem;
  font-family: 'Quicksand', sans-serif;
  border-radius: 30px;
  border: 2px solid #197278;
  transition: .2s ease-in;
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.btn-wrapper button:hover {
  background: #197278;
  color: #fff;
  transition: .2s ease-out;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.btn-wrapper button:active {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

/* FOR MOBILE LAYOUTS */
@media (max-width: 470px) {
  body {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: center;
        justify-content: center;
    overflow-x: hidden;
  }
  h1 {
    margin-bottom: 60px;
  }
  .content-wrapper {
    position: relative;
    top: 0;
    left: 0;
    -webkit-transform: initial;
            transform: initial;
    padding: 0 2rem;
  }
  p {
    font-size: 1.5rem;
  }
}
